.row{
    background-color: rgb(255, 255, 255);
    display: flex;
   align-items: center;

}
.col{
    background-color: aqua;
padding: 20px;
margin: 10px;
flex: 1;

}
.col-2{
  padding: 20px;
flex: 2;
margin: 10px;
    background-color: aqua;
}
.col-3{
    background-color: aqua;
    padding: 20px;
    flex: 3;
}